

<style type="text/css">
	.form-as{
    margin-left: 70%;
    margin-bottom: 13px;
    }
  .input-ac{
    border-radius: 35px !important;
  }
  .btn-de{
    margin-right:3px;
  }
  .btn-up{
    margin-right:3px;
  }
  .btn-upda{
        width: 102px;
  }
  .inp-upd{
    height: 50px;
    margin-top: -8px;
    border:solid 1px #D5D8DC; 
    border-radius: 11px; 
  }
  .wd-es{
    width: 100px;
  }
  .th-accion{
    width: 16%;
  }
  .div-t-table{
    display: flex;
    justify-content: space-between;
  }
  .btn-excel{
    height: 40px;
  }
  .th-view{
    width: 15px;
    text-align: center;
  }
  .img-testigo{
    margin-left: 10px;
  }
  .delete-a{
    cursor: pointer;
  }
  .div-co{
    background: white  !important;
    width: 94%;
    position: relative;
    margin-left: 5%;
    margin-top: 5px;
    border-radius: 20px;
  }
  p{
    text-align: center;
    font-size: 24px;
  }
</style>


<div class="container-fluid div-co">
  <p>{{titulo}}</p>
  <div class="div-t-table">
    <form class="form-inline form-as">
      <input name="buscarpor" class="input-ac form-control mr-sm-2" type="search" placeholder="buscar" aria-label="Search" [(ngModel)]="query">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)=buscaHost()>Buscar</button>
   </form>
   <a  class="btn btn-success btn-excel" (click)="exportHost(filename)">EXCEL</a>
  </div>


   <table  class="table"><!--datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"-->
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">IP</th>
      <th scope="col">Cliente</th>
      <th scope="col">Ambiente</th>
      <th scope="col">S.O</th>
      <th scope="col">Escalamiento</th>
      <th scope="col">Notas</th>
      <th scope="col" class="th-accion th-view">Acciones</th>
    </tr>
  </thead>
    <tbody *ngIf="response?.length != 0">
    <tr *ngFor='let host_clientes of response'><!--  -->
      <th scope="row">{{host_clientes.id}}</th>
      <td>{{host_clientes.host_name}}</td>
      <td>{{host_clientes.ip}}</td>
      <td>{{host_clientes.cliente}}</td>
      <td>{{host_clientes.ambiente}}</td>
      <td>{{host_clientes.sistema_operativo}}</td>
      <td>{{host_clientes.escalamiento}}</td>
      <td>{{host_clientes.notas}}</td>
      <td>
        <a class="delete-a" (click)="deleteHost(host_clientes.id,host_clientes.host_name)"><img src="/assets/img/eliminar.png"></a>
        <a  class="" routerLink="/hostupdate/{{host_clientes.id}}"><img class="img-testigo" src="/assets/img/testigo.png"></a>
        
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="response?.length == 0">
    <tr>
      <td colspan="8" class="no-data-available">No data!</td>
    </tr>
  </tbody>

 </table>

 


