/* You can add global styles to this file, and also import other style files */
html, body, app-root {
     height: 100%;
     margin: 0;
     }

.ng-invalid:not(form){
	border-left: 5px solid red;
}

.ng-valid:not(form){
	border-left: 5px solid green;
}